{% extends "template.html.twig" %}

{% block principal %}
    <div class="column-wrapper">
        <div class="title-container">
        <h1 class="logo signup darkgreen">Créer une course</h1>
        </div>
        <span class="warning tip logo lightgreen"><i>Tout les champs suivants sont obligatoires.</i></span>
        {% if not form.vars.valid %}
        <div class="dialog" title="Echec lors de la création du compte">
            <ul>
            {% for child in form.children %}
                {# Display the errors of the form item #}
                {%for error in child.vars.errors%}
                    <li>{{error.message}}</li>
                {%endfor%}
            {%endfor%}
            </ul>
       </div>
        {% endif %}
        <div class="formu">
            {{ form_start(form, {'attr': {'class': 'column-wrapper'} }) }}
                <div class="addrun">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                </div>
                <div class="addrun">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
                </div>
                <div class="addrun">
                {{ form_label(form.date) }}
                {{ form_widget(form.date) }}
                </div>
                <div class="addrun">
                    <button type="submit">Créez votre course!</button>
                </div>
            {{ form_end(form) }}
        </div>
        
    </div>
{% endblock %}