<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        {% block stylesheets %}
            {% stylesheets 'css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> <!-- Appel de la librairie pour affichage des icones font -->
                 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
      <header>
        <div>
            {% image 'images/logo.png' %}
                <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div>
          <h1>Athletik – les 1000 pas</h1>
        </div>
      </header>
      <nav>
		<!-- <a href="#">Menu</a> -->
			<div class="first_div">
			  <div class="secondary_div">
                              <i id="center" class="fa fa-home" aria-hidden="true"></i><a href="{{ path('index') }}">Accueil</a><i id="center" class="fa fa-home" aria-hidden="true"></i>
			  </div>
			  <div class="secondary_div">
				<i id="center" class="fa fa-forumbee" aria-hidden="true"></i><a href="{{ path('event') }}">Evénements</a><i id="center" class="fa fa-forumbee" aria-hidden="true"></i>
			  </div>
			  <div class="secondary_div">
				<i id="center" class="fa fa-shopping-cart" aria-hidden="true"></i><a href="">Résultats</a><i id="center" class="fa fa-shopping-cart" aria-hidden="true"></i>
			  </div>
			  <div class="secondary_div">
				<i id="center" class="fa fa-calendar" aria-hidden="true"></i><a href="">Classements</a><i id="center" class="fa fa-calendar" aria-hidden="true"></i>
			  </div>
                          {% if is_granted('ROLE_ADMIN') %}
                                <div class="secondary_div">
                                    <i id="center" class="fa fa-lock" aria-hidden="true"></i><a href="{{ path('admin') }}">Admin</a><i id="center" class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                          {% endif %}
			</div>
      </nav>
        <div class="login">
            <div class="bloc">
                {% if not app.user %} 
                    <div class="login_div">
                        <div class="menu_log">
                            <i id="center" class="fa fa-sign-in" aria-hidden="true"></i>
                        </div>    
                        <div class="menu_log">   
                            <a href="{{ path('login') }}"> Se connecter </a>
                        </div>    
                        <div class="menu_log">   
                            <i id="center" class="fa fa-sign-in" aria-hidden="true"></i>
                        </div> 
                    </div>
                    <div class="login_div">
                        <div class="menu_log">
                            <i id="center" class="fa fa-registered" aria-hidden="true"></i>
                        </div>    
                        <div class="menu_log">   
                            <a href="{{ path('register') }}"> S'enregistrer </a>
                        </div>    
                        <div class="menu_log">   
                            <i id="center" class="fa fa-registered" aria-hidden="true"></i>
                        </div> 
                    </div>  
                {% else %}
                    <div class="login_div"> 
                        <b>Bonjour {{ app.user.username }}.</b> 
                    </div>
                    <div class="login_div">
                        <i id="center" class="fa fa-sign-out" aria-hidden="true"></i><a href="{{ path('logout') }}"> Se déconnecter </a><i id="center" class="fa fa-sign-out" aria-hidden="true"></i>
                    </div>
                {% endif %}
            </div>
        </div>
      <main>
          <div class="bloc_principal">
            {% block principal %}
                
            {% endblock %}
          </div>
      </main>
      <footer>
          <div>
               <span class="footer">@Copyright</span>
          </div>
      </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    {% block javascripts %}
        {% javascripts 'js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>
